@{
    ViewBag.Title = "E-posta Doğrulama";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        E-posta adresinizi doğruladığınız için teşekkür ederiz. Lütfen @Html.ActionLink("giriş yapmak için buraya tıklayın.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
