@{
    ViewBag.Title = "E-posta Linki Onaylama";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Şifrenizi sıfırlamak için lütfen E-posta adresinizi kontrol edin.
    </p>
</div>
	
